@import 'button.css';

/* common */
html, body, div, main {
  box-sizing: border-box;
}

html {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background-color: #f3f3fa;
  padding: 10px;
}


/* card */
:root {
  --image-border-radius: 8px 0 0 8px;
}

.card {
  display: flex;
  width: 100%;
  max-width: 720px;
  height: 400px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  background-color: #ffffff;
}


.photo {
  position: relative;
  display: flex;
  flex-basis: 240px;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: var(--image-border-radius);
}

.photo__gradient {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, rgba(0, 31, 154, 0.5) 0%, rgba(54, 0, 57, 0.5) 100%);
  border-radius: var(--image-border-radius);
  height: 100%;
  width: 100%;
}

.photo__image {
  width: 100%;
  object-fit: cover;
  border-radius: var(--image-border-radius);
}


.content {
  margin: 27px 54px 27px 32px;
  display: flex;
  flex-direction: column;
}

.content__title {
  opacity: 0.9;
  color: #000000;
  font-weight: 400;
  margin: 16px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__text {
  opacity: 0.85;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  hyphens: auto;
  overflow-wrap: break-word;
}

.content__btn {
  width: 167px;
  height: 48px;
  margin-top: 18px;
  border: none;
  border-radius: 24px;
}


@media (max-width: 720px) {
  .card {
    height: auto;
  }

  .content-wrapper {
    margin-right: 32px;
  }
}


@media (max-width: 548px) {
  :root {
    --image-border-radius: 8px 8px 0 0;
  }

  .card {
    flex-direction: column;
  }
}
